# virtual environment
kaggle_env/

# compiled requirements
requirements.txt

# kaggle model weights
*.pth

# python
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# data
data/

# os
.DS_Store
Thumbs.db

#mlis machine training logs
.profile
*.log

#lane navigation model weights
*.h5

# except 
!models/lane_navigation/outputs/weights/mv3_angle_and_speed_best_model.h5
!driver/code/mv3_angle_and_speed_best_model.h5

#object detection model weights
*.pt

# except
!driver/code/run3_best.pt

#tflite model weights
*.tflite

#except 

