# virtual environment
kaggle_env/

# compiled requirements
requirements.txt

# model weights
*.pth
*.pt

# python
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# tensorboard
runs/

#notebooks
notebooks/

# data
data/

# os
.DS_Store
Thumbs.db

#mlis machine training logs
.profile
*.log
