# virtual environment
kaggle_env/

# compiled requirements
requirements.txt

# kaggle model weights
*.pth

# python
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# data
data/

# os
.DS_Store
Thumbs.db

#mlis machine training logs
.profile
*.log

#model weights
*.h5

# except 
!models/lane_navigation/outputs/weights/mv3_angle_and_speed_best_model.h5

#object detection model weights
*.pt

# except
!models/object_detection/outputs/weights/best_model.pt
